.header{
    width: 100%;
}

.container {
    width: 100%;
    position: relative;
    height: 85.5vh;
    display: block;
}
.segment {
    width: 100%;
    margin-left: 10%;
}
option {
    color: rgb(66, 66, 66);
}
label {
    text-transform: uppercase;
}